@use '../abstracts/variables' as *;

body {
  font-family: $font-primary;
  color: $color-primary;
  background-color: $color-white;
  font-size: $font-size-base;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  color: $color-primary;
  margin: 0;
}

h1 {
  font-size: $font-size-5xl;
}

h2 {
  font-size: $font-size-4xl;
}

h3 {
  font-size: $font-size-3xl;
}

h4 {
  font-size: $font-size-2xl;
}

h5 {
  font-size: $font-size-xl;
}

h6 {
  font-size: $font-size-lg;
}

p {
  margin: 0;
  line-height: 1.7;
}
